/frameworks/target/
/frameworks/xsutils/target/
/frameworks/system/target/
/frameworks/sql2.2/target/
/frameworks/bpmn2/bpmn2spec/target/
/frameworks/bpmn2/Bpm2Machine/target/
/frameworks/bpmn2/Bpm2MachineService/target/
/applications/extbpmnconsole/target/
/frameworks/frameworkdemo/demosql2.2/sqlnotworkingdemo/target/
/applications/extbpmneditor/target/
/frameworks/frameworkdemo/demosql2.2/pagedemo/target/